    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    em,
    i {
        font-style: normal;
    }
    
    li {
        list-style: none;
    }
    
    img {
        border: 0;
        vertical-align: middle;
    }
    
    button {
        cursor: pointer;
    }
    
    a {
        color: #666;
    }
    
    a:hover {
        color: #e33333;
    }
    
    body {
        background: url(../images/Pinot\ Noir.jpg) no-repeat;
        background-size: cover;
    }
    
    .viewport {
        display: flex;
        min-width: 1024px;
        max-width: 1920px;
        margin: 0 auto;
        padding: 1.1rem .25rem 0;
        /* background: url(../images/logo111.jpg) no-repeat; */
        min-height: 780px;
        background-size: contain;
    }
    
    .viewport .column {
        flex: 2.5;
        /* background-color: pink; */
    }
    
    .viewport .column:nth-child(2) {
        flex: 4;
    }
    /* 公共样式 */
    
    .panel {
        position: relative;
        border: 15px solid red;
        border-width: 0.1875rem 0.1875rem 0.1875rem 0.1875rem;
        border-image-source: url(../images/borderimage.jpg);
        border-image-slice: 15 15 15 15;
        margin-bottom: 0.25rem;
    }
    
    .box1 {
        height: 3rem;
    }
    
    .box2 {
        height: 4rem;
    }
    
    .box3 {
        height: 3.5rem;
    }
    
    .box4 {
        height: 7.5rem;
        background-color: #ccc;
    }
    
    .box5 {
        height: 3.3rem;
        color: #fff;
    }
    
    .inner {
        display: flex;
        position: absolute;
        top: -0.125rem;
        left: -0.125rem;
        right: -0.125rem;
        bottom: -0.125rem;
        /* background-color: red; */
        padding: 0.125rem 0.125rem;
    }
    
    .one {
        width: 20px;
        margin-left: 0.25rem;
        margin-right: 0.375rem;
        line-height: 20px;
        font-size: 0.275rem;
        color: #fff;
    }
    
    .box1 ul {
        /* width: 2.625rem; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .box1 ul li {
        font-size: 0.27rem;
        color: #fff;
    }
    
    .box1 ul li i {
        margin-right: 0.5rem;
    }
    
    .box1 ul li span:nth-child(1) {
        margin-right: 0.5rem;
    }
    
    .content {
        display: flex;
        overflow: hidden;
    }
    /* 通过css3 动画滚动 marquee */
    
    .marquee-view .marquee {
        animation: move 15s linear infinite;
        color: #fff;
        line-height: 0.375rem;
    }
    
    @keyframes move {
        0% {}
        100% {
            transform: translateY(-50%);
        }
    }
    /* 鼠标经过 marquee  就停止动画 */
    
    .marquee-view .marquee:hover {
        animation-play-state: paused;
    }
    
    .bar {
        /* margin: auto; */
        width: 10.375rem;
        height: 170px;
        /* background-color: pink; */
    }
    
    .pie {
        width: 5rem;
        height: 3.5rem;
        /* background-color: pink; */
    }
    
    .top5 {
        width: 4.8rem;
        height: 2.5rem;
        /* background-color: pink; */
    }
    
    .spider {
        width: 5rem;
        height: 3.5rem;
    }